<% content_for :title do %>
高専からの進学・就職ならWUKS(ワックス)
<% end %>

<div class="page-header header-filter clear-filter area" data-parallax="false">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="brand">
          <h1>タチアガレ<br>高専生</h1>
          <h3>高専からの就職・進学ならWUKS(ワックス)</h3>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="contents_list text-center pad50">
    <div class="container">
      <div class="contents_introduction">
        <h2 style="font-weight: 700">全国の高専生と情報を共有しよう</h2>
        <h4>高専生の進学・就職は情報戦。沢山の情報を見つけよう。</h4>
      </div>

      <div class="row">
        <div class="col-4 main-item">
          <a href="transfer">
            <div class="card in_a">
              <div class="card-body mt-2">
                <i class="material-icons">school</i>
                <p class="pt-2"><b>編入情報</b>を探す</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-4 main-item">
          <a href="career">
            <div class="card in_a">
              <div class="card-body mt-2">
                <i class="material-icons">business</i>
                <p class="pt-2"><b>企業情報</b>を探す</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-4 main-item">
          <a href="event">
            <div class="card">
              <div class="card-body mt-2">
                <i class="material-icons">record_voice_over</i>
                <p class="pt-2"><b>イベント</b>を探す</p>
              </div>
            </div>
          </a>
        </div>
      </div>

    </div>

  </div>
  <div class ="pad_border">
  </div>

  <div class ="row">
  　<!-- イベントの方　-->
    <div class ="col-md-8">
      <!-- イベント情報を新しいものから3つ並べる -->
      <div class=content_body>
        <div class="contents_introduction">
          <h2><b>イベント情報</b></h2>
        </div>
        <div class="container">
          <div class ="row">
            <% @events.each do |events| %>
            <div class ="v2-event-list__item">
              <%= link_to event_show_path(name:events.name) do %>
              <img class="v2-event__logo lazyloaded" src = <%= asset_path("img/event/#{events.name}.jpg") %> alt="">
                <div class ="badge_span">
                  <div class ="special_badge">
                  <% if events.date > Date.today %>
                  <span class="badge badge-pill badge-warning">募集中</span>
                  <% else %>
                  <span class="badge badge-pill badge-default">応募終了</span>
                  <% end %>
                  </div>
                  <p class = "eventTags">
                  <%= events.pref %>　|　<%= events.event_type %>　|　交通費支給
                  </p>
                </div>
                <p class="eventTitle">
                <%= events.name %>
                </p>
                <p class="eventDate">
                  場所：<%= events.date.strftime("%Y年%m月%d日") %>
                </p>
                <p class="eventPlace">
                  日時：<%= events.place %>
                </p>
              <% end %>

            </div>
            <% end %>
          </div>
        </div>
        <div class = "nextArea">
          <a href="/event">
            <p class ="go_list">全てのイベントを見る
            <i class="material-icons">arrow_forward</i></p>
          </a>
        </div>
      </div>
    </div>
    <!-- お知らせの方　-->
    <div class ="col-md-3">
      <div class="content_body">
        <div class="contents_introduction">
          <h2><b>お知らせ</b></h2>
        </div>
        <div class="pad10">
        </div>
        <ul id="notic_list">
          <% @news.each do |news| %>
          <li>
            <div>
              <p class="date"><%= news.date %></p>
              <p class="title">
                <%= link_to news_show_path(id:news.id) do %>
                <%= news.name %>
                <% end %>
              </p>
            </div>
          </li>
          <% end %>
        </ul>
        <div class="nextArea">
          <a href="/news">
            <p class ="go_list">全てのお知らせを見る
            <i class="material-icons">arrow_forward</i></p>
          </a>
        </div>
      </div>
    
    </div>

  </div>

</div>

<div class ="pad50">
</div>