<% content_for :title do %>
就職 | WUKS
<% end %>

<section class="py-5 bg-image-full" style="background-image: url('../assets/img/profile_city.jpg');">
  <div style="height: 150px;">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand">
            <h1>企業情報一覧</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="pt-5"></div>
  <% @comps.each do |comps| %>
  <%= link_to career_show_path(id:comps.id) do %>
  <div class="row product border">
    <div class="col-md-4">
      <img src="assets/img/comp/<%= comps.name %>.jpg" alt="" class="img-thumbnail">
    </div>
    <div class="col-md-8">
      <h2 class="nameCom"><%= comps.name %></h2>
      <h4 class="forbadge">
        <span class="badge badge-pill badge-rose"><%= comps.place %></span>
      </h4>
      <h4 class="forbadge">
        <span class="badge badge-pill badge-success"><%= comps.area %></span>
        <span class="badge badge-pill badge-info"><%= comps.scale %></span>
      </h4>
    </div>
  </div>
  <% end %>
  <!--</a>-->
  <% end %>
</div>