<% content_for :title do %>
<%= @comp.name %> | 就職
<% end %>

<section class="py-5 bg-image-full" style="background-image: url(<%= asset_path("img/comp/#{@comp.name.gsub(" ", "")}_back.jpg") %>);">
  <div style="height: 150px;"></div>
</section>

<div class ="row">
  <div class="container">
    <h2 class="heading">企業情報</h2>
      <div class="card-header card-header-primary">
        <div style="text-align:center;">
          <div class ="pt-3"></div>
          <h3 class ="heading"><%= @comp.name %></h3>
          <span class="badge badge-pill badge-rose"><%= @comp.place %></span>
          <% 6.times do |i| %>
            <% if @comp.area[i] == 1 %>
              <span class="badge badge-pill badge-success"><%= @areas[i] %></span>
            <% end %>
          <% end %>
          <span class="badge badge-pill badge-info"><%= @comp.scale %></span>
        </div>
        <div class ="container">
        <% unless @comp.has_original_format?%>
        <h3 class="sub">ミッション</h3>
          <%= simple_format(@comp.mission, {}, wrapper_tag: "div class='article' id='mission'") %>
        <h3 class="sub">なにをやっているのか</h3>
          <%= simple_format(@comp.what, {}, wrapper_tag: "div class='article'") %>
        <h3 class="sub">職種</h3>
          <%= simple_format(@comp.occupation, {}, wrapper_tag: "div class='article'") %>
        <h3 class="sub">求める人材</h3>
          <%= simple_format(@comp.want, {}, wrapper_tag: "div class='article'") %>
        <h3 class="sub">高専生・高専卒に一言</h3>
          <%= simple_format(@comp.comment, {}, wrapper_tag: "div class='article'") %>

        <% else %>
          <%= simple_format(@comp.original_text, {}, wrapper_tag: "div", sanitize: false) %>

        <% end %>
        <h3 class="sub">その他の情報</h3>
          <div class="article">
            <%= @comp.name %><br>
            <i class="material-icons">flag</i> <%= @comp.founded_year %>/<%= @comp.founded_month %> に設立<br>
            <i class="material-icons">people</i> <%= @comp.employees %>人のメンバー<br>
            <i class="material-icons">place</i>
            <a href="http://maps.google.co.jp/maps/search/+<%= @comp.address %>" target="_blank"><u><%= @comp.address %></u></a><br>
          </div>
        <div class ="text-center padding-res">
          <a id = "center" href=<%= @comp.url %> target="_blank">
            <button class="btn btn-primary btn-lg">もっと詳しく見る
              <div class="ripple-container"></div>
            </button>
          </a>
          <div class ="pt-5"></div>
        </div>
        </div>
      </div>
  </div>
</div>
<div class = "padding-res"></div>