<% content_for :title do %>
<%= @comp.name %> | 就職
<% end %>

<section class="py-5 bg-image-full" style="background-image: url('/assets/img/comp/<%= @comp.name %>.jpg');">
  <div style="height: 150px;">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand">
            <h1><%= @comp.name %></h1>
            <h2 class="forbadge">
              <span class="badge badge-pill badge-rose"><%= @comp.place %></span>
              <span class="badge badge-pill badge-success"><%= @comp.area %></span>
              <span class="badge badge-pill badge-info"><%= @comp.scale %></span>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class ="container">
<h1 class ="heading">企業情報</h1>
  <h2><b>なにをやっているのか</b></h2>
    <h3><%= @comp.what %></h3>
  <h2><b>なぜやるのか</b></h2>
    <h3><%= @comp.why %></h3>
  <h2><b>どうやっているのか</b></h2>
    <h3><%= @comp.how %></h3>
  <h2><b>その他の情報</b></h2>
    <h3><%= @comp.name %></h3>
    <h3><i class="material-icons">flag</i><%= @comp.founded_year %>/<%= @comp.founded_month %>に設立</h3>
    <h3><i class="material-icons">people</i><%= @comp.employees %>人のメンバー</h3>
    <h3><i class="material-icons">place</i>
    <a href="javascript:;" 
    onclick="window.open('http://maps.google.co.jp/maps?q='+encodeURI('<%= @comp.address %>'));
    return false;"><u><%= @comp.address %></u></a></h3>
</div>