<% content_for :title do %>
<%= @news.name %> | お知らせ
<% end %>

<section class="py-5 bg-image-full" style="background-image: url(<%= asset_path('img/bg_news.jpg') %>);">
  <div style="height: 150px;">
    <div class="pt-5">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand">
            <h2 class="forbadge">
              <h2><b><%= @news.name %></b></h2>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container main-content">
  <div class="pt-5">
    <div class="row">
      <div class="container">
        <div class="card-header card-header-primary">
          <div id="newshead">
            <p class="date"><%= @news.date %></p>
            <h3><%= @news.name %></h3>
          </div>
          <div id="newsbody">
            <%= simple_format(@news.content, {}, wrapper_tag: "div class='article'") %>
          </div>
          <div class ="text-center">
            <a id = "center" href="/news">
              <button class="btn btn-primary btn-lg">お知らせ一覧へ戻る
                <div class="ripple-container"></div>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>