<% content_for :title do %>
イベント | WUKS
<% end %>

<section class="py-5 bg-image-full" style="background-image: url(<%= asset_path('img/bg_event.jpg') %>);">
  <div style="height: 150px;">
    <div class="pt-5">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand">
            <h1>イベント情報一覧</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class ="pt-5"></div>

<div class="container">
  <div class ="row" style="
    margin-left: 0px;
    margin-right: 0px;" >
            <% @events.each do |events| %>
            <div class ="v2-event-list__item">
              <%= link_to event_show_path(name:events.name) do %>
              <img class="v2-event__logo lazyloaded" src = <%= asset_path("img/event/type1.jpg") %> alt="">
                <div class ="badge_span">
                  <div class ="special_badge">
                  <% if events.date > Date.today %>
                  <span class="badge badge-pill badge-warning">募集中</span>
                  <% else %>
                  <span class="badge badge-pill badge-default">応募終了</span>
                  <% end %>
                  </div>
                  <p class = "eventTags">
                  <%= events.pref %>　|　<%= events.event_type %>　|　交通費支給
                  </p>
                </div>
                <p class="eventTitle">
                <%= events.name %>
                </p>
                <p class="eventDate">
                  日時：<%= events.date.strftime("%Y年%m月%d日") %>
                </p>
                <p class="eventPlace">
                  場所：<%= events.place %>
                </p>
              <% end %>

            </div>
            <% end %>
          </div>
</div>
<div class ="pt-5"></div>