<% content_for :title do %>
新規登録
<% end %>

<div class="page-header header-filter" style="background-image: url('./assets/img/bg7.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <%= form_tag("/registar", method: :post) do %>
          <div class="card card-login">
            <form class="form" method="" action="">
              <div class="card-header card-header-primary text-center">
                <h3 class="card-title">WUKSアカウント登録</h3>
              </div>
                <div class="card-body">
                <div class="text-center">
                  <% if @error_message %>
                    <h4 style="color:red;">
                      <%= @error_message %>
                    </h4>
                  <% end %>
                </div>
                    <span class="bmd-form-group"><div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                        <i class="material-icons">face</i>
                        </span>
                    </div>
                    <input name="name" type="text" class="form-control" placeholder="Name..." value="<%= @name %>">
                    </div></span>
                    <span class="bmd-form-group"><div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                        <i class="material-icons">mail</i>
                        </span>
                    </div>
                    <input name="email" type="email" class="form-control" placeholder="Email..." value="<%= @email %>">
                    </div></span>
                    <span class="bmd-form-group"><div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                        </span>
                    </div>
                    <input name="password" type="password" class="form-control" placeholder="Password..." value="<%= @password %>">
                    </div></span>
                    <span class="bmd-form-group"><div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                        <i class="material-icons">school</i>
                        </span>
                    </div>                    
                    <select name="kosen_id" class="form-control" value="<%= @password %>">                  
                      <option value="">（高専名を選択してください）</option>
                      <% @kosen.each do |kosen| %>
                        <option value= "<%= kosen.kosen_id %>" ><%= kosen.kosen_name %></option>
                      <% end %>
                    </select>
                    </div></span>
                </div>
              
              <div class="footer text-center">
                <input type="submit" value="新規登録" class="btn btn-primary">
              </div>
            </form>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>