<div class="container">
  <div class="row">
    <div class="col-4">
      <img src="<%= asset_path('img/logo.png') %>" class="rounded-circle member-img" alt="宮薗大雅">
      宮薗大雅
    </div>
    <div class="col-4">
      <img src="<%= asset_path('img/logo.png') %>" class="rounded-circle member-img" alt="宮薗大雅">
      田中
    </div>
    <div class="col-4">
      <img src="<%= asset_path('img/logo.png') %>" class="rounded-circle member-img" alt="宮薗大雅">
      石本
    </div>
    <div class="col-4">
      <img src="<%= asset_path('img/logo.png') %>" class="rounded-circle member-img" alt="宮薗大雅">
      島田
    </div>
    <div class="col-4">
      <img src="<%= asset_path('img/logo.png') %>" class="rounded-circle member-img" alt="宮薗大雅">
      松本
    </div>
    <div class="col-4">
      <img src="<%= asset_path('img/logo.png') %>" class="rounded-circle member-img" alt="宮薗大雅">
      湯之上
    </div>
  </div>
</div>