<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="member-img">
        <img src="<%= asset_path('img/logo.png') %>" alt="宮薗大雅">
      </div>
      宮薗大雅
    </div>
    <div class="col-4">
      <div class="member-img">
        <img src="<%= asset_path('img/logo.png') %>" alt="宮薗大雅">
      </div>
      田中
    </div>
    <div class="col-4">
      <div class="member-img">
        <img src="<%= asset_path('img/logo.png') %>" alt="宮薗大雅">
      </div>
      石本
    </div>
    <div class="col-4">
      <div class="member-img">
        <img src="<%= asset_path('img/logo.png') %>" alt="宮薗大雅">
      </div>
      島田
    </div>
    <div class="col-4">
      <div class="member-img">
        <img src="<%= asset_path('img/logo.png') %>" alt="宮薗大雅">
      </div>
      松本
    </div>
    <div class="col-4">
      <div class="member-img">
        <img src="<%= asset_path('img/logo.png') %>" alt="宮薗大雅">
      </div>
      湯之上
    </div>
  </div>
</div>