<% content_for :title do %>
About | WUKS
<% end %>

<section class="py-5 bg-image-full" style="background-image: url(<%= asset_path('img/bg_univ.jpg') %>);">
  <div style="height: 150px;">
    <div class="pt-5">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand">
            <h1>About</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="pt-5">
  <div class="container card-header">
    <div class="row about-content">
      <div class="col-12">
        <h3 class="heading">経営理念</h3>
        <h2><span>高専生の価値を</span><span>最大化する</span></h2>
        <p>高専生という存在はまだ認知されていません。<p>
        <p><span>我々eNMは、学生に対して行動の転換点と</span><span>公平な情報を提供します。</span><p>
        <p>また、社会に対して高専生を等身大で知ってもらう機会を提供して高専生の価値の最大化を目指します。</p>
      </div>

      <div class="col-12 pt-5">
        <h3 class="heading">企業目標</h3>
        <h2><span>高専生の</span><span>頼れる先輩に</span></h2>
        <p><span>eNMは高専生から信頼され、</span><span>尊敬される存在を目指します。</span></p>
        <p><span>そのために、高専生・社会に徹底的に価値提供を行い</span><span>信頼たる存在を目指します。</span></p>
        <p><span>また、高専生に依存される存在ではなく</span><span>頼られる存在になるために、</span><span>共に進むのではなく</span><span>変革点を与えられる存在を目指します。</span></p>
      </div>

      <div class="col-12 pt-5">
        <h2><span>“先輩“になるための</span><span>３本の矢</span></h2>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="three-arrow-img">
                <img src="<%= asset_path('img/about/kigyouzadankai.jpg') %>">
              </div>
              <h3>企業座談会</h3>
              <p>
                <span>座談会という</span><span>近い距離で</span><span>話し合う場を</span><span>設けます。</span><br/>
                <span>高専生には</span><span>社会へ出ることへの</span><span>興味と</span><span>行動の</span><span>きっかけを、</span><span>企業には高専生について</span><span>知る機会を</span><span>提供しています。</span>
              </p>
            </div>
            <div class="col-md-4">
              <div class="three-arrow-img">
                <img src="<%= asset_path('img/about/kosenzadankai.jpg') %>">
              </div>
              <h3>高専座談会</h3>
              <p>
              <span>高専OBのメンバーが</span><span>実際に高専に赴き</span><span>座談会を</span><span>行います。</span><br/>
              <span>高専生の皆さんに</span><span>進路について</span><span>共に考え、</span><span>行動するきっかけを</span><span>提供しています。</span>
              </p> 
            </div>
            <div class="col-md-4">
              <div class="three-arrow-img">
                <img src="<%= asset_path('img/about/media.jpg') %>">
              </div>
              <h3>メディア</h3>
              <p>
                <span>このWEBサイトで</span><span>高専生の進学や</span><span>就職についての</span><span>情報を提供します。</span><br/>
                <span>全国の高専生の</span><span>情報格差をなくすことを</span><span>目指します。</span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 pt-5">
        <h2>会社情報</h2>
        <table class="information-table">
          <tbody>
            <tr>
              <td>
                <p>社名</p>
              </td>
              <td>
                <p>株式会社eNM</p>
              </td>
            </tr>
            <tr>
              <td>
                <p>所在地</p>
              </td>
              <td>
                <p>
                  〒810-0073 <br/>
                  福岡県福岡市中央区舞鶴１丁目９ー３ <br/>
                  朝日プラザ天神1204号
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <p>設立</p>
              </td>
              <td>
                2018年12月18日
              </td>
            </tr>
            <tr>
              <td>
                <p>資本金</p>
              </td>
              <td>
                <p>¥2,000,000</p>
              </td>
            </tr>
            <tr>
              <td>
                <p>代表者名</p>
              </td>
              <td>
                <p>宮薗大雅</p>
              </td>
            </tr>
            <tr>
              <td>
                <p>連絡先</p>
              </td>
              <td>
                <p>kyu.corp.1008@gmail.com</p>
              </td>
            </tr>
            <tr>
              <td>
                <p>事業内容</p>
              </td>
              <td>
                <p><span>・学生の就職に関する</span><span>コンサルティング、</span><span>イベント開催、</span><span>各種サービス業</span></p>
                <p><span>・インターネットを</span><span>利用した</span><span>各種情報提供</span><span>および</span><span>各種仲介サービス業</span></p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--
    <div class="pt-3"></div>

    <div class ="pt-3"></div>
    <div class="card card-nav-tabs card-plain about">
      <div class="about-tab-header card-header-primary">
        <div class="nav-tabs-navigation">
          <ul class="nav nav-tabs justify-content-center" data-tabs="tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#index" data-toggle="tab">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#information" data-toggle="tab">会社情報</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#member" data-toggle="tab">活動メンバー</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-body">
        <div class="tab-content text-center">
          <div class="tab-pane active" id="index">
            <%= render partial: "about"%>
          </div>
          <div class="tab-pane" id="information">
            <%= render partial: "information"%>
          </div>
          <div class="tab-pane" id="member">
            <%= render partial: "member"%>
          </div>
        </div>
      </div>
    </div>
    -->
  </div>
</div>

<div class="pt-5"></div>