<% content_for :title do %>
ニュース追加
<% end %>

<section class="py-5 bg-image-full" style="background-image: url(<%= asset_path('img/bg_news.jpg') %>);">
  <div style="height: 150px;">
    <div class="pt-5">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand">
            <h2 class="forbadge">
              <h2><b>新規ニュース</b></h2>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container pt-3">

  <% if params[:notice]%>
    <p><%= params[:notice] %></p>
  <% end %>
  
  <%= form_with(url: add_news_path, multipart: true) do |f| %>
    <div>
      タイトル：<%= f.text_field :title %>
    </div>
    <div>
      <%= f.file_field :upload %>
    </div>
    <label>
      <%= f.check_box :dummy, {:checked => true, :autocomplete => 'off'}%>ダミー画像を表示する
    </label>
    <div class="action">
      <%= f.submit "プレビュー", name: "preview", formtarget: "_blank" %>
    </div>
    <br />
    <br />
    <div class="btn-group form-group col-md-3" data-toggle="buttons">
      <label class="btn btn-dark btn-sm active">
        <%= f.radio_button :upload_type, "new", {:checked => true, :autocomplete => "off"}%>新規
      </label>
      <label class="btn btn-dark btn-sm">
        <%= f.radio_button :upload_type, "upload", {:autocomplete => "off"}%>更新
      </label>
      <label class="btn btn-dark btn-sm">
        <%= f.radio_button :upload_type, "disable", {:autocomplete => "off"}%>削除
      </label>
    </div>
    <div class="action">
      <%= f.submit "決定" %>
    </div>
    <div>
      <% @news.each_with_index do |news, index| %>
        <%= f.radio_button :news_id, news.id, {:checked => index == 0, :autocomplete => "off"}%> <%= news.name%> <br/>
      <% end %>
    </div>
  <% end %>
</div>