<% content_for :title do %>
<%= @news_name %> | お知らせ
<% end %>

<section class="py-5 bg-image-full" style="background-image: url(<%= asset_path('img/bg_news.jpg') %>);">
  <div style="height: 150px;">
    <div class="pt-5">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand">
            <h2 class="forbadge">
              <h2><b><%= @news_name %></b></h2>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container main-content">
  <div class="pt-5">
    <div class="row">
      <div class="container">
        <div class="card-header card-header-primary">
          <div id="newshead">
            <p class="date">2020-02-28</p>
            <h3><%= @news_name %></h3>
          </div>
          <div id="newsbody">
            <%=
              raw @news_content.gsub(/src=.*?"([^"]+)"/) {
                'src="' + asset_path(@dummy? "img/news/Dummy.png":$1) + '"'
              }.gsub(/<%=.*?render.*?'([^']+)'.*?,.*?key.*?:.*?'([^']+)'.*?>/) {
                render $1, key: $2
              } 
            %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>