<% content_for :title do %>
進学 | WUKS
<% end %>

<section class="py-5 bg-image-full" style="background-image: url(<%= asset_path('img/bg_univ.jpg') %>);">
  <div style="height: 150px;">
    <div class="pt-5">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand">
            <h1>大学一覧</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="pt-3">
  <input type="button" value="絞り込み" class="btn btn-primary btn-lg" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
  <div class="collapse <% if @filtered %>show <% end %>" id="collapseFilter">
    <%= form_with(url: transfer_path) do |form| %>
      <h3 class="filter-type">表示条件</h3>
      <%= render :partial => "badge_checkbox", :locals => { 
        name: 'examtypes', badge_text: '推薦入試あり', badge_class: 'badge-info', id: 'labelExamTypes', checked: (params['examtypes'] == '1'), form: form
      } %>
      <%= render :partial => "badge_checkbox", :locals => { 
        name: 'otherFac', badge_text: '工学系以外も編入可', badge_class: 'badge-warning', id: 'labelOtherFac', checked: (params['otherFac'] == '1'), form: form
      } %>
      <br/>
      <hr/>
      <h3 class="filter-type">表示地域</h3>
      <%= render :partial => "badge_checkbox", :locals => { 
        name: 'hokkaido', badge_text: '北海道', badge_class: 'badge-rose', id: 'labelHokkaido', checked: !(params['hokkaido'] == '0'), form: form
      } %>
      <%= render :partial => "badge_checkbox", :locals => { 
        name: 'tohoku', badge_text: '東北', badge_class: 'badge-rose', id: 'labelTohoku', checked: !(params['tohoku'] == '0'), form: form
      } %>
      <%= render :partial => "badge_checkbox", :locals => { 
        name: 'hokuriku', badge_text: '北陸', badge_class: 'badge-rose', id: 'labelHokuriku', checked: !(params['hokuriku'] == '0'), form: form
      } %>
      <%= render :partial => "badge_checkbox", :locals => { 
        name: 'kanto', badge_text: '関東', badge_class: 'badge-rose', id: 'labelKanto', checked: !(params['kanto'] == '0'), form: form
      } %>
      <%= render :partial => "badge_checkbox", :locals => { 
        name: 'chubu', badge_text: '中部', badge_class: 'badge-rose', id: 'labelChubu', checked: !(params['chubu'] == '0'), form: form
      } %>
      <%= render :partial => "badge_checkbox", :locals => { 
        name: 'kinki', badge_text: '近畿', badge_class: 'badge-rose', id: 'labelKinki', checked: !(params['kinki'] == '0'), form: form
      } %>
      <%= render :partial => "badge_checkbox", :locals => { 
        name: 'chugoku', badge_text: '中国', badge_class: 'badge-rose', id: 'labelChugoku', checked: !(params['chugoku'] == '0'), form: form
      } %>
      <%= render :partial => "badge_checkbox", :locals => { 
        name: 'sikoku', badge_text: '四国', badge_class: 'badge-rose', id: 'labelSikoku', checked: !(params['sikoku'] == '0'), form: form
      } %>
      <%= render :partial => "badge_checkbox", :locals => { 
        name: 'kyushu', badge_text: '九州', badge_class: 'badge-rose', id: 'labelKyushu', checked: !(params['kyushu'] == '0'), form: form
      } %>
      <br />
      <hr/>
      <h3 class="filter-type">科目</h3>
     <!-- <ul class="nav nav-pills nav-pills-primary" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#exact" role="tablist" aria-expanded="true">
              完全一致
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#partial" role="tablist" aria-expanded="false">
              部分一致
          </a>
        </li>
      </ul> -->
      <div class="btn-group form-group col-md-3" data-toggle="buttons">
          <label class="btn btn-dark btn-sm active">
            <%= form.radio_button :subject, "none", {:autocomplete => "off", :class => "radio-order"}%>科目で絞り込まない
          </label>
          <label class="btn btn-dark btn-sm">
            <%= form.radio_button :subject, "exact", {:autocomplete => "off", :class => "radio-order"}%>のみ
          </label>
          <label class="btn btn-dark btn-sm">
            <%= form.radio_button :subject, "partial", {:autocomplete => "off", :class => "radio-order"}%>を必ず含む
          </label>
        </div>
        <br >
          <%= render :partial => "badge_checkbox", :locals => { 
            name: 'math_e', badge_text: '数学', badge_class: 'badge-rose', id: 'labelMath', checked: !(params['math_e'] == '0'), form: form
          } %>
          <%= render :partial => "badge_checkbox", :locals => { 
            name: 'english_e', badge_text: '英語', badge_class: 'badge-rose', id: 'labelEnglish', checked: !(params['english_e'] == '0'), form: form
          } %>
          <%= render :partial => "badge_checkbox", :locals => { 
            name: 'physics_e', badge_text: '物理', badge_class: 'badge-rose', id: 'labelPhysics', checked: !(params['physics_e'] == '0'), form: form
          } %>
          <%= render :partial => "badge_checkbox", :locals => { 
            name: 'chemistry_e', badge_text: '化学', badge_class: 'badge-rose', id: 'labelChemistry', checked: !(params['chemistry_e'] == '0'), form: form
          } %>
          <%= render :partial => "badge_checkbox", :locals => {
            name: 'biology_e', badge_text: '生物', badge_class: 'badge-rose', id: 'labelBiology', checked: !(params['biology_e'] == '0'), form: form
          } %>
          <%= render :partial => "badge_checkbox", :locals => {
            name: 'interview', badge_text: '面接', badge_class: 'badge-rose', id: 'labelInterview', checked: !(params['interview'] == '0'), form: form
          } %>
          <%= render :partial => "badge_checkbox", :locals => {
            name: 'other', badge_text: 'その他', badge_class: 'badge-rose', id: 'labelOther', checked: !(params['other'] == '0'), form: form
          } %>
     <!-- <div class="tab-content tab-space">
        <div class="tab-pane active" id="exact" aria-expanded="true">
          <%= render :partial => "badge_checkbox", :locals => { 
            name: 'math_e', badge_text: '数学', badge_class: 'badge-rose', id: 'labelMath', checked: !(params['math_e'] == '0'), form: form
          } %>
          <%= render :partial => "badge_checkbox", :locals => { 
            name: 'english_e', badge_text: '英語', badge_class: 'badge-rose', id: 'labelEnglish', checked: !(params['english_e'] == '0'), form: form
          } %>
          <%= render :partial => "badge_checkbox", :locals => { 
            name: 'physics_e', badge_text: '物理', badge_class: 'badge-rose', id: 'labelPhysics', checked: !(params['physics_e'] == '0'), form: form
          } %>
          <%= render :partial => "badge_checkbox", :locals => { 
            name: 'chemistry_e', badge_text: '化学', badge_class: 'badge-rose', id: 'labelChemistry', checked: !(params['chemistry_e'] == '0'), form: form
          } %>
          <%= render :partial => "badge_checkbox", :locals => {
            name: 'biology_e', badge_text: '生物', badge_class: 'badge-rose', id: 'labelBiology', checked: !(params['biology_e'] == '0'), form: form
          } %>
        </div>
        <div class="tab-pane" id="partial" aria-expanded="false">
          <%= render :partial => "badge_checkbox", :locals => { 
            name: 'math', badge_text: '数学', badge_class: 'badge-rose', id: 'labelMath', checked: !(params['math'] == '0'), form: form
          } %>
          <%= render :partial => "badge_checkbox", :locals => { 
            name: 'english', badge_text: '英語', badge_class: 'badge-rose', id: 'labelEnglish', checked: !(params['english'] == '0'), form: form
          } %>
          <%= render :partial => "badge_checkbox", :locals => { 
            name: 'physics', badge_text: '物理', badge_class: 'badge-rose', id: 'labelPhysics', checked: !(params['physics'] == '0'), form: form
          } %>
          <%= render :partial => "badge_checkbox", :locals => { 
            name: 'chemistry', badge_text: '化学', badge_class: 'badge-rose', id: 'labelChemistry', checked: !(params['chemistry'] == '0'), form: form
          } %>
        </div>
      </div> -->
      <br />
      <hr/>
      <h3 class="filter-type">並び替え</h3>
      <div class="form-row">
        <div class="form-group col-md-3">
          <%= form.select :order_by, [["デフォルト", "id"], ["試験日", "date_number"], ["名前", "rubi"]], {:selected => params["order_by"]?params["order_by"]:"id"}, {:class => "form-control"}%>
        </div>
        <div class="btn-group form-group col-md-3" data-toggle="buttons">
          <label class="btn btn-dark btn-sm <% if !(params["order"] == "DESC")%>active<% end %>">
            <%= form.radio_button :order, "ASC", {:checked => !(params["order"] == "DESC"), :autocomplete => "off", :class => "radio-order"}%>昇順
          </label>
          <label class="btn btn-dark btn-sm <% if (params["order"] == "DESC")%>active<% end %>">
            <%= form.radio_button :order, "DESC", {:checked => (params["order"] == "DESC"), :autocomplete => "off", :class => "radio-order"}%>降順
          </label>
        </div>
        
      </div>
      <input type="submit" value="絞り込む" class="btn btn-success btn">
    <% end %>
  </div>
  <div class ="pt-3">
  <% if @univs.length <= 0 %>
    <h2>条件に合致する大学はありません</h2>
  <% end %>

  <% @univs.each do |univs| %>
  <div class="univ-parent">
    <!--<a href ="/transfer/<%= univs.name %>"> -->
    <%= link_to transfer_show_path(name:univs.name) do %>
    <div class="row product border">
      <div class="col-md-4">

        <img src=<%= asset_path("img/univ/#{univs.name}.jpg") %> alt="url('/assets/img/bg7.jpg');" class="img-thumbnail">

        <!-- <img src="assets/img/wuks.png" alt="" class="img-thumbnail">
            -->
      </div>
      <div class="col-md-8">
        <h2 class="nameUni"><%= univs.name %></h2>
        <h4 class="forbadge"><span class="badge badge-pill badge-rose"><%= univs.location %></span></h4>
        <% if univs.examtypes == 1 %>
          <h4 class="forbadge"><span class="badge badge-pill badge-success"><%= univs.date_general %></span>
            <span class="badge badge-pill badge-success"><%= univs.date_recommend %></span>
            <span class="badge badge-pill badge-info">推薦入試あり</span>
        <% else %>
          <h4 class="forbadge"><span class="badge badge-pill badge-success"><%= univs.date_general %></span>
        <% end %>
            <% if univs.otherFac == 1%>
            <span class="badge badge-pill badge-warning">工学系以外も編入可</span>
            <% end %>
          </h4>
        <div class="collapse" id="collapseUniv<%= univs.id %>">
          <% @facluties.select{|facluty| facluty.s_name == univs.name}.each do |facluty| %>
            <li><%= facluty.f_name %></li>
            <ul>
              <% @departments.select{|department| department.univ_name == univs.name && department.faculty_name == facluty.f_name}.each do |department| %>
                <li style="padding-left: 40px;" ><%= department.name %> 
                <% if department.math %>(数)<% end %>
                <% if department.english %>(英)<% end %>
                <% if department.physics %>(物)<% end %>
                <% if department.chemistry %>(化)<% end %>
                <% if department.biology %>(生)<% end %>
                <% if department.interview %>(面)<% end %>
                <% if department.special || department.paper || department.integration || department.practical || department.external_english %>(他)<% end %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
    <!--</a>-->
      <button class="expand-mark" type="button" data-toggle="collapse" data-target="#collapseUniv<%= univs.id %>" aria-expanded="true" aria-controls="collapseUniv<%= univs.id %>">
        <i class="material-icons">expand_more</i>
      </button>
    </div>
  <% end %>
</div>

<script>
  const handleChangeBadge = (e,id,cl) => $(id).toggleClass("badge-secondary",!e.target.checked).toggleClass(cl,e.target.checked)
</script>

</div>
</div>