<% content_for :title do %>
進学 | WUKS
<% end %>

<section class="py-5 bg-image-full" style="background-image: url('../assets/img/bg_univ.jpg');">
  <div style="height: 150px;">
    <div class="pt-5">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand">
            <h1>大学一覧</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="pt-3">
  <input type="button" value="絞り込み" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
  <div class="collapse" id="collapseFilter">
    <%= form_with(url: transfer_path) do |form| %>
      表示条件：
      <%= render :partial => "badge_checkbox", :locals => { 
        name: 'examtypes', badge_text: '推薦入試あり', badge_class: 'badge-info', id: 'labelExamTypes', checked: (params['examtypes'] == '1'), form: form
      } %>
      <%= render :partial => "badge_checkbox", :locals => { 
        name: 'otherFac', badge_text: '工学系以外も編入可', badge_class: 'badge-warning', id: 'labelOtherFac', checked: (params['otherFac'] == '1'), form: form
      } %>
      <br/>
      表示地域：
      <%= render :partial => "badge_checkbox", :locals => { 
        name: 'hokkaido', badge_text: '北海道', badge_class: 'badge-rose', id: 'labelHokkaido', checked: !(params['hokkaido'] == '0'), form: form
      } %>
      <%= render :partial => "badge_checkbox", :locals => { 
        name: 'tohoku', badge_text: '東北', badge_class: 'badge-rose', id: 'labelTohoku', checked: !(params['tohoku'] == '0'), form: form
      } %>
      <%= render :partial => "badge_checkbox", :locals => { 
        name: 'hokuriku', badge_text: '北陸', badge_class: 'badge-rose', id: 'labelHokuriku', checked: !(params['hokuriku'] == '0'), form: form
      } %>
      <%= render :partial => "badge_checkbox", :locals => { 
        name: 'kanto', badge_text: '関東', badge_class: 'badge-rose', id: 'labelKanto', checked: !(params['kanto'] == '0'), form: form
      } %>
      <%= render :partial => "badge_checkbox", :locals => { 
        name: 'chubu', badge_text: '中部', badge_class: 'badge-rose', id: 'labelChubu', checked: !(params['chubu'] == '0'), form: form
      } %>
      <%= render :partial => "badge_checkbox", :locals => { 
        name: 'kinki', badge_text: '近畿', badge_class: 'badge-rose', id: 'labelKinki', checked: !(params['kinki'] == '0'), form: form
      } %>
      <%= render :partial => "badge_checkbox", :locals => { 
        name: 'chugoku', badge_text: '中国', badge_class: 'badge-rose', id: 'labelChugoku', checked: !(params['chugoku'] == '0'), form: form
      } %>
      <%= render :partial => "badge_checkbox", :locals => { 
        name: 'sikoku', badge_text: '四国', badge_class: 'badge-rose', id: 'labelSikoku', checked: !(params['sikoku'] == '0'), form: form
      } %>
      <%= render :partial => "badge_checkbox", :locals => { 
        name: 'kyushu', badge_text: '九州', badge_class: 'badge-rose', id: 'labelKyushu', checked: !(params['kyushu'] == '0'), form: form
      } %>
      <br />
      並び替え：<%= form.select :order_by, [["デフォルト", "id"], ["試験日", "date_number"], ["名前", "rubi"]], {:selected => params["order_by"]?params["order_by"]:"id"}, {:class => ""}%>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-dark btn-sm <% if !(params["order"] == "DESC")%>active<% end %>">
          <%= form.radio_button :order, "ASC", {:checked => !(params["order"] == "DESC"), :autocomplete => "off", :class => "radio-order"}%>昇順
        </label>
        <label class="btn btn-dark btn-sm <% if (params["order"] == "DESC")%>active<% end %>">
          <%= form.radio_button :order, "DESC", {:checked => (params["order"] == "DESC"), :autocomplete => "off", :class => "radio-order"}%>降順
        </label>
      </div>

      <input type="submit" value="絞り込む" class="btn btn-success btn-sm">
    <% end %>
  </div>
  <div class ="pt-3">
  <% if @univs.length <= 0 %>
    <h2>条件に合致する大学はありません</h2>
  <% end %>

  <% @univs.each do |univs| %>
  <!--<a href ="/transfer/<%= univs.name %>"> -->
  <%= link_to transfer_show_path(name:univs.name) do %>
  <div class="row product border">
    <div class="col-md-4">

      <img src="assets/img/univ/<%= univs.name %>.jpg" alt="url('/assets/img/bg7.jpg');" class="img-thumbnail">

      <!-- <img src="assets/img/wuks.png" alt="" class="img-thumbnail">
          -->
    </div>
    <div class="col-md-8">
      <h2 class="nameUni"><%= univs.name %></h2>
      <h4 class="forbadge"><span class="badge badge-pill badge-rose"><%= univs.location %></span></h4>
      <% if univs.examtypes == 1 %>
        <h4 class="forbadge"><span class="badge badge-pill badge-success"><%= univs.date_general %></span>
          <span class="badge badge-pill badge-success"><%= univs.date_recommend %></span>
          <span class="badge badge-pill badge-info">推薦入試あり</span>
      <% else %>
        <h4 class="forbadge"><span class="badge badge-pill badge-success"><%= univs.date_general %></span>
      <% end %>
          <% if univs.otherFac == 1%>
          <span class="badge badge-pill badge-warning">工学系以外も編入可</span>
          <% end %>
        </h4>
    </div>
  </div>
  <% end %>
  <!--</a>-->
  <% end %>
</div>
<script>
  const handleChangeBadge = (e,id,cl) => $(id).toggleClass("badge-secondary",!e.target.checked).toggleClass(cl,e.target.checked)
</script>
