<% content_for :title do %>
<%= @univ.name %> | 進学
<% end %>

<section class="py-5 bg-image-full" style="background-image: url('/assets/img/univ/<%= @univ.name %>.jpg');">
  <div style="height: 150px;">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand">
            <h1><%= @univ.name %></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container main-content">
  <div class="pt-5">
    <div class="row">
      <div class="container">
        <h2 class="heading"> 募集学部</h2>
        <div class="card-header card-header-primary">
          <!-- Card Start -->
          <div class="card card-nav-tabs card-plain">
            <!-- Card Headder -->
            <div class="card-header card-header-primary">
              <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                  <ul class="nav nav-tabs" data-tabs="tabs">
                    <% @count = 0 %>
                    <% @facluties.each do |facluties| %>
                    <li class="nav-item">
                      <% if @count == 0%>
                      <a class="nav-link active" href="#<%= facluties.f_name %>"
                        data-toggle="tab"><%= facluties.f_name %></a>
                      <% else %>
                      <a class="nav-link" href="#<%= facluties.f_name %>" data-toggle="tab"><%= facluties.f_name %></a>
                      <% end %>
                    </li>
                    <% @count = @count + 1 %>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Card Headder End -->

            <!-- Card Main Start -->
            <div class="card-body">
              <div class="tab-content pl-3">
                <% @count = 0 %>
                <% @facluties.each do |facluties| %>
                <% if @count == 0 %>
                <div class="tab-pane active" id="<%= facluties.f_name %>">
                  <h4 class="sub">試験時期</h4>
                  <ul>
                    <% if facluties.isThereRec %>
                    <% array_result_rec = facluties.date_recomend.split(",") %>
                    <li>推薦入試：<%= array_result_rec[0] %></li>
                    <% end %>
                    <% array_result_gen = facluties.date_general.split(",") %>
                    <li>一般入試：<%= array_result_gen[0] %></li>
                  </ul>
                  <h4 class="sub">合格発表</h4>
                  <ul>
                    <% if facluties.isThereRec %>
                    <li>推薦入試：<%= array_result_rec[1] %></li>
                    <% end %>
                    <li>一般入試：<%= array_result_gen[1] %></li>
                  </ul>
                  <h4 class="sub">募集学科</h4>
                  <% array_department = facluties.department.split(",") %>
                  <ul class>
                    <% array_department.each do |department| %>
                    <li><%= department %></li>
                    <% end %>
                  </ul>
                  <div class="text-center">
                    <a href="/coming_soon">
                      <button class="btn btn-primary">もっと詳しく見る
                        <div class="ripple-container"></div>
                      </button>
                    </a>
                  </div>
                </div>
                <% else %>
                <div class="tab-pane" id="<%= facluties.f_name %>">
                  <h4 class="sub">試験時期</h4>
                  <ul>
                    <% if facluties.isThereRec %>
                    <% array_result_rec = facluties.date_recomend.split(",") %>
                    <li>推薦入試：<%= array_result_rec[0] %> </li>
                    <% end %>
                    <% array_result_gen = facluties.date_general.split(",") %>
                    <li>一般入試：<%= array_result_gen[0] %></li>
                  </ul>
                  <h4 class="sub">合格発表</h4>
                  <ul class>
                    <li>推薦入試：<%= array_result_rec[1] %></li>
                    <li>一般入試：<%= array_result_gen[1] %></li>
                  </ul>
                  <h4 class="sub">募集学科</h4>
                  <% array_department = facluties.department.split(",") %>
                  <ul class>
                    <% array_department.each do |department| %>
                    <li><%= department %></li>
                    <% end %>
                  </ul>
                  <div class="text-center">
                    <a href="/coming_soon">
                      <button class="btn btn-primary">もっと詳しく見る
                        <div class="ripple-container"></div>
                      </button>
                    </a>
                  </div>
                </div>
                <% end %>
                <% @count = @count + 1 %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>