<!DOCTYPE html>
<html>
  <head>
    <title>WuksProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag controller.controller_name, media: 'all' %>
    
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag controller.controller_name %>
  </body>
</html>

<!--
This sheet is shared with all the layout.
-->