<!DOCTYPE html>
<html>

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151197971-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-151197971-1');
  </script>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href=<%= asset_path('img/favicon.png') %>>
  <link rel="icon" type="image/png" href=<%= asset_path('img/favicon.png') %>>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title><%= content_for?(:title) ? yield(:title) : "デフォルトタイトル"%></title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />
        
  <!-- OPGの設定 -->
  <meta property="og:title" content="WUKSproject" />
  <meta property="og:image" content="	http://enm-wuks.com/assets/img/wuks-a9687e59bedf2e510c58cb97d695dc03dadb6cede550171b3f226a3d8cf3c62a.png" />
  <meta property="og:description" content="高専生のための編入・就職支援サイト" />
  <!-- ※Twitter共通設定 -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@eNM176" />

  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <!-- CSS Files -->
  <%= stylesheet_link_tag "material-kit_css/material-kit.css?v=2.0.5",:media=> "all" %>
  <!-- CSS For List Pages -->
  
  <%= stylesheet_link_tag "original/top_page.css",:media=> "all" %> <!-- なんか見た目おかしくなったらこれが原因かも -->
  <%= stylesheet_link_tag "original/list_page.css", :media => "all"%>
  <%= stylesheet_link_tag "original/show_page.css", :media => "all"%>
  <%= stylesheet_link_tag "original/footer.css",:media=> "all" %>
  <!-- JS Files -->
  <%= javascript_include_tag "material-kit_js/core/jquery.min.js" %>
  <%= javascript_include_tag "material-kit_js/core/popper.min.js" %>
  <%= javascript_include_tag "material-kit_js/core/bootstrap-material-design.min.js" %>
  <%= javascript_include_tag "material-kit_js/plugins/moment.min.js" %>
  <%= javascript_include_tag "material-kit_js/plugins/bootstrap-datetimepicker.js" %>
  <%= javascript_include_tag "material-kit_js/plugins/nouislider.min.js" %>
  <%= javascript_include_tag "material-kit_js/material-kit.js" %>

</head>
<body class="index-page sidebar-collapse">
  <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100"
    id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="/">
          WUKS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/" class="nav-link  mt-2">
              <i class="material-icons">home</i> Home
            </a>
          </li>
          <li class="nav-item  mt-2">
            <a href="/transfer" class="nav-link">
              <i class="material-icons">school</i> Transfer
            </a>
          </li>
          <li class="nav-item  mt-2">
            <a href="/career" class="nav-link">
              <i class="material-icons">business</i> Career
            </a>
          </li>
          <li class="nav-item  mt-2">
            <a href="/event" class="nav-link">
              <i class="material-icons">record_voice_over</i> Event
            </a>
          </li>
          <li class="nav-item mt-2">
             <a href="/news" class="nav-link">
               <i class="material-icons">list_alt</i> News
             </a>
          </li>
          <li class="nav-item mt-2">
            <a href="/about" class="nav-link">
              <i class="material-icons">group</i> About
            </a>
          </li>
          <% isREADY = FALSE %>
          <% if isREADY %>
          <form class="form-inline mt-2 ml-4">
            <div class="form-group bmd-form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-white btn-raised btn-fab btn-round">
              <i class="material-icons">search</i>
            </button>
          </form>
          <li class="nav-item ml-5 mt-2">
            <% if @current_user==nil %>
            <a href="/login" class="btn btn-rose btn-raised">
              <i class="material-icons">vpn_key</i> LOGIN
              <div class="ripple-container"></div>
            </a>
            <% else %>
            <a href="/logout" class="btn btn-info btn-raised">
              <i class="material-icons">vpn_key</i> LOGOUT
              <div class="ripple-container"></div>
            </a>
            <% end %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <%= yield %>
  <div>
    <div>
      <div id="scrollTop">
        <a href="/">
          <i class="material-icons">double_arrow</i>
        </a>
      </div>
<footer class = "footer_top">
   <div class="container">

       <div class ="footer_top_link">
         <ul class ="reset-ul">
           <li>
             <a href="/">Home</a>
           </li>

           <li>
             <a href="/transfer">Transfer</a>
           </li>

           <li>
             <a href="/career">Career</a>
           </li>

           <li>
             <a href="/event">Event</a>
           </li>
           <li>
             <a href="/news">NEWS</a>
           </li>
           <li>
             <a href="/about">About</a>
           </li>
           <div style="clear: both;"></div>
         </ul>
       </div>
       <div class ="footer_powerd_by">
       <p>
       <a href="https://www.nhs.co.jp/" rel ="nofollow" style="color: #ffffff;">日鉄日立システムエンジニアリング株式会社</a> の協力により運営されています
       </p>
       </div>
       <div class ="fotter_top_copyright">
          ⓒ2020 Inc. eNM All Rights Reserved.
       </div>
   </div>
 </footer>
      <!--
      <script>
        $(function () {
          // 上に戻るボタンの初期化
          let topBtn = $('#scrollTop');
          topBtn.hide();
    
          // ある程度スクロールされたら、上に戻るボタンを表示する
          $(window).scroll(function() {
            if ($(this).scrollTop() > 800) {
              topBtn.fadeIn(); // フェードインで表示
            } else {
              topBtn.fadeOut();  // フェードアウトで非表示
            }
          });
    
          // クリックで上に戻るボタン
          topBtn.click(function(event) {
            event.preventDefault(); // ページ内リンクの挙動をキャンセル
            $('body,html').animate({
              scrollTop: 0
            }, 300);
          });
        });

        function scrollToDownload() {
          if ($('.section-download').length != 0) {
            $("html, body").animate({
              scrollTop: $('.section-download').offset().top
            }, 1000);
          }
        }
      </script>
      -->
</body>

</html>