<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Wake Up,Girls!
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <%= stylesheet_link_tag "material-kit_css/material-kit.css?v=2.0.5",:media=> "all" %>
  <!-- CSS for Top page-->
  <%= stylesheet_link_tag "original/jumbotron.css", :media => "all"%>
  
  <!--
  <%= stylesheet_link_tag "original/full-width-pics.css", :media => "all"%>
  -->
  <!-- JS Files -->
  <%= javascript_include_tag "material-kit_js/core/jquery.min.js" %>
  <%= javascript_include_tag "material-kit_js/core/popper.min.js" %>
  <%= javascript_include_tag "material-kit_js/core/bootstrap-material-design.min.js" %>
  <%= javascript_include_tag "material-kit_js/plugins/moment.min.js" %>
  <%= javascript_include_tag "material-kit_js/plugins/bootstrap-datetimepicker.js" %>
  <%= javascript_include_tag "material-kit_js/plugins/nouislider.min.js" %>
  <%= javascript_include_tag "material-kit_js/material-kit.js" %>
  
</head>
<body class="index-page sidebar-collapse">
  <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav"> 
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="/">
          WUKS project </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/" class="nav-link">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a href="#pablo" class="nav-link">
              Mission
            </a>
          </li>
          <li class="nav-item">
            <a href="/transfer" class="nav-link">
              Transfer
            </a>
          </li>
          <li class="nav-item">
            <a href="/career" class="nav-link">
              Career
            </a>
          </li>
          <li class="nav-item">
            <a href="#pablo" class="nav-link">
              About Us
            </a>
          </li>
          <li class="nav-item">
            <a href="#pablo" class="nav-link">
              Contact Us
            </a>
          </li>
          <li class="nav-item">
            <a href="#pablo" class="nav-link">
              Register
            </a>
          </li>              
          <!--
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" onclick="scrollToDownload()">
              <i class="material-icons">cloud_download</i> Download
            </a>
          </li>
          -->
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://twitter.com/UpWuks" target="_blank">
              <i class="fa fa-twitter"></i>Follow us
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<%= yield %>
  <script>
    $(document).ready(function() {
      //init DateTimePickers
      materialKit.initFormExtendedDatetimepickers();

      // Sliders Init
      materialKit.initSliders();
    });


    function scrollToDownload() {
      if ($('.section-download').length != 0){
        $("html, body").animate({
          scrollTop: $('.section-download').offset().top
        }, 1000);
      }
    }
  </script>
</body>
</html>